<h1>Login</h1>

<form method="post">
    <fieldset class="form-group">
        <label for="username">Username </label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password">Password </label>
        <input name="password" id="password" type="password" required />
    </fieldset>

    <button class="btn">Login</button>
    <a href="/google" title="Login with Google">Login With Google</a>
    <a href="/register" title="Register">Make a new account</a>
</form>
